NUXT_PUBLIC_IMPRINT_PROVIDER_NAME=
NUXT_PUBLIC_IMPRINT_STREET_ADDRESS=
NUXT_PUBLIC_IMPRINT_POSTAL_CODE=
NUXT_PUBLIC_IMPRINT_CITY=
NUXT_PUBLIC_IMPRINT_COUNTRY=Deutschland
NUXT_PUBLIC_IMPRINT_PUBLIC_EMAIL=
NUXT_PUBLIC_IMPRINT_PHONE=
NUXT_PUBLIC_IMPRINT_REPRESENTED_BY=
NUXT_PUBLIC_IMPRINT_REGISTER_COURT=
NUXT_PUBLIC_IMPRINT_REGISTER_NUMBER=
NUXT_PUBLIC_IMPRINT_VAT_ID=
