NUXT_PUBLIC_IMPRINT_PROVIDER_NAME=
NUXT_PUBLIC_IMPRINT_STREET_ADDRESS=
NUXT_PUBLIC_IMPRINT_POSTAL_CODE=
NUXT_PUBLIC_IMPRINT_CITY=
NUXT_PUBLIC_IMPRINT_COUNTRY=Deutschland
NUXT_PUBLIC_IMPRINT_PUBLIC_EMAIL=
NUXT_PUBLIC_IMPRINT_PHONE=
NUXT_PUBLIC_IMPRINT_REPRESENTED_BY=
NUXT_PUBLIC_IMPRINT_REGISTER_COURT=
NUXT_PUBLIC_IMPRINT_REGISTER_NUMBER=
NUXT_PUBLIC_IMPRINT_VAT_ID=
SHIFTPLAN_ADMIN_PASSWORD=
CONTACT_MAIL_PROVIDER=
CONTACT_MAIL_TO=
CONTACT_MAIL_GRAPH_TENANT_ID=
CONTACT_MAIL_GRAPH_CLIENT_ID=
CONTACT_MAIL_GRAPH_CLIENT_SECRET=
CONTACT_MAIL_GRAPH_FROM=
CONTACT_MAIL_SUBJECT_PREFIX=[Schichtplaner]
CONTACT_MAIL_SAVE_TO_SENT_ITEMS=false
